<footer>
    <div class="footer-content clearfix">
        <div class="float-left">
            <ul class="nav">
                <li class="nav-item active"></li>
                <li class="nav-item"><a class="nav-link" href="javascript:void(0)">Contact us</a></li>
                <li class="nav-item"><a class="nav-link" href="javascript:void(0)">About us</a></li>
                <li class="nav-item"><a class="nav-link" href="javascript:void(0)">Career</a></li>
            </ul>
        </div>
        <div class="float-right"> 
            <p class="mb-0"><a class="nav-link" href="javascript:void(0)">&#169; All Rights Reserved</a></p>
        </div>
    </div>
</footer>